<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div>
	<div class="job-offers">
		<div class="job-offer">
			<img src="../../assets/images/download.png" alt="Company 1 Logo">
			<div class="job-description">
				<h4>Job Title 1</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit molestias necessitatibus accusantium reiciendis dolor, facilis provident tenetur iste nemo, dolore assumenda explicabo temporibus deleniti, debitis nam. Voluptatem, assumenda maxime! Nam!</p>
				<button class="apply-btn">See More</button>
			</div>
		</div>
	
		<div class="job-offer">
			<img src="../../assets/images/myntra.jpg" alt="Company 2 Logo">
			<div class="job-description">
				<h4>Job Title 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor ligula quis eros venenatis.</p>
				<button class="apply-btn">See More</button>
			</div>
		</div>
		<div class="job-offer">
			<img src="../../assets/images/new.png" alt="Company 1 Logo">
			<div class="job-description">
				<h4>Job Title 3</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor ligula quis eros venenatis.</p>
				<button class="apply-btn">See More</button>
			</div>
		</div>
		<div class="job-offer">
			<img src="../../assets/images/myntra.jpg" alt="Company 2 Logo">
			<div class="job-description">
				<h4>Job Title 4</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor ligula quis eros venenatis.</p>
				<button class="apply-btn">See More</button>
			</div>
		</div>
</div>



<br><br>
<app-footer></app-footer>