<!-- Footer -->
<div class="footerContainer">
    <div class="socialIcons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google-plus"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="footerNav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a  routerLink="/">News</a></li>
        <li><a href="about-page">About</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Our Team</a></li>
      </ul>
    </div>
    <div class="footerBottom">
      <p>copyright &copy;2023</p>
    </div>
  </div>
  <!-- End Footer -->
  
  